@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*-----Remove default styling------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./images/siim-lukka-unsplash.jpg");
  background-size: cover;
}

input[type=text], input[type=date], textarea, select {
  width: 100%;
  margin: 5px auto 15px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
}
input[type=text]:focus, input[type=date]:focus, textarea:focus, select:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 8px 2px rgb(165, 45, 23);
}

#content {
  min-height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(8px);
  margin: 0px auto;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.user-interface-wrapper {
  background-color: rgb(5, 30, 35);
  padding: 0.75rem;
}

.user-interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.user-interface .header-text {
  font-size: 28px;
  width: calc(100% - 60px);
  background-color: rgb(5, 30, 35);
  color: white;
  font-weight: 500;
  padding: 15px 10px;
  text-align: center;
  grid-area: header;
}
@media (min-width: 481px) {
  .user-interface .header-text {
    width: 100%;
  }
}
.user-interface .menu-wrapper {
  width: 60px;
  padding: 5px;
  background-color: rgb(5, 30, 35);
}
@media (min-width: 481px) {
  .user-interface .menu-wrapper {
    display: none;
  }
}
.user-interface .menu-button {
  height: 50px;
  width: 50px;
  background-color: rgb(200, 200, 200);
  background-image: url("images/bars-solid.svg");
  background-size: 60%;
  background-position: center 15%;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  z-index: 99;
}
.user-interface .menu-button.open {
  background-image: url("images/xmark-solid.svg");
}
.user-interface .menu-button span {
  font-size: 8px;
  font-weight: bold;
  position: absolute;
  bottom: 2px;
  left: 12px;
  text-align: center;
}
.user-interface .menu-button.open span {
  display: none;
}
.user-interface .nav {
  grid-area: nav;
}
@media (max-width: 480px) {
  .user-interface .nav {
    background-color: rgb(5, 30, 35);
    color: white;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition-duration: 200ms;
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 98;
  }
}
@media (max-width: 480px) {
  .user-interface .nav.open {
    width: 100vw;
  }
}
@media (min-width: 481px) {
  .user-interface .nav ul {
    display: flex;
  }
}
.user-interface .nav li {
  font-size: 24px;
  background-color: rgb(5, 30, 35);
  margin: 10px 20px;
  border-radius: 10px;
}
@media (min-width: 481px) {
  .user-interface .nav li {
    font-size: 18px;
    color: white;
    margin: 5px;
  }
}
.user-interface .nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 80px;
  transition: all 200ms;
}
.user-interface .nav li a:hover {
  background-color: #0b414c;
}
@media (min-width: 481px) {
  .user-interface .nav li a {
    padding: 15px;
  }
}
.user-interface .project-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: project;
}
.user-interface .project-header {
  font-size: 18px;
  letter-spacing: 0.5ch;
  padding: 10px;
  color: white;
  filter: drop-shadow(2px 2px rgb(61, 61, 61));
  background-color: transparent;
}
.user-interface .add-project-button-wrapper {
  padding: 5px;
  background-color: transparent;
  width: 100%;
}
.user-interface .add-project-button {
  width: min(40vw, 200px);
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(44, 121, 44);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  padding: 5px;
  box-shadow: 2px 2px 5px rgb(63, 63, 63);
  display: flex;
  align-items: center;
  transition-duration: 200ms;
  cursor: pointer;
}
.user-interface .add-project-button .add-icon {
  background-image: url("images/plus-solid-white.svg");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
}
.user-interface .add-project-button span {
  font-size: 12px;
}
@media (min-width: 481px) {
  .user-interface .add-project-button span {
    font-size: 18px;
  }
}
@media (min-width: 481px) {
  .user-interface {
    display: grid;
    grid-template-areas: "header nav" "project project";
    justify-content: space-between;
    background-color: rgb(5, 30, 35);
    margin: 0 auto;
    width: min(100vw, 800px);
  }
}

.project-interface {
  width: min(100vw, 800px);
  margin: 0 auto;
  /*.project-header{
      text-align: center;
      text-transform: uppercase;
      background-color: $myCharcoal;
      color: $myLightGray ;
      font-size: 18px;
      padding:5px;
  }*/
}
.project-interface .project-list {
  padding: 0px 10px;
}
.project-interface .project-list li {
  max-height: 40px;
  border-radius: 10px;
  margin-top: 8px;
  box-shadow: 2px 2px 5px rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
}
.project-interface .project-list li.selected {
  box-shadow: 0 0 5px 2px rgb(165, 45, 23);
  animation: 0.3s ease-out 1 forwards expandProject;
}
.project-interface .project-list .project-list-item-summary {
  display: flex;
}
.project-interface .project-list a {
  font-size: 20px;
  flex: 1;
  padding: 5px 15px;
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.project-interface .project-list a.selected {
  opacity: 1;
}
.project-interface .project-list li.empty-list {
  height: auto;
  font-size: 18px;
  padding-left: 50px;
  color: white;
  filter: drop-shadow(2px 2px rgb(61, 61, 61));
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.project-interface .add-task-button {
  display: none;
  background-color: rgb(44, 121, 44);
  color: white;
  min-height: 28px;
  margin: 6px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(110, 110, 110);
}
.project-interface .delete-project-button {
  display: none;
  width: 28px;
  height: 28px;
  margin: 6px;
  background-color: rgb(161, 56, 56);
  background-image: url("images/xmark-solid-white.svg");
  background-position: center;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(110, 110, 110);
}
.project-interface .project-list a.selected ~ button {
  display: block;
}

@keyframes expandProject {
  0% {
    opacity: 0.7;
    max-height: 40px;
  }
  100% {
    opacity: 1;
    max-height: 400px;
  }
}
.task-interface {
  width: min(90vw, 750px);
}
.task-interface .task-header {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  color: rgb(200, 200, 200);
  background-color: rgb(40, 40, 40);
}
.task-interface .task-list {
  padding: 8px;
}
.task-interface .task-list li {
  font-size: 20px;
  height: 38px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(214, 214, 214);
  box-shadow: 2px 2px 5px rgb(180, 180, 180);
  overflow: hidden;
}
.task-interface .task-list li.selected {
  height: auto;
  box-shadow: 2px 2px 5px rgb(61, 61, 61);
  animation: 2ms ease-out 1 forwards expandTask;
}
.task-interface .task-list li.empty-list {
  height: auto;
  font-size: 18px;
  padding-left: 50px;
  color: white;
  background-color: transparent;
  box-shadow: none;
}
.task-interface .task-list li .task-summary {
  display: flex;
}
.task-interface .task-list li .task-summary a {
  flex: 1;
  padding-left: 20px;
}
.task-interface .task-list li .task-summary a.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
.task-interface .task-list li .task-summary .delete-task-button {
  width: 28px;
  height: 28px;
  background-color: rgb(161, 56, 56);
  background-image: url("images/xmark-solid-white.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(110, 110, 110);
}
.task-interface .task-list li .task-summary > .check {
  position: relative;
  /*
  a {
      position: relative;
      transition: 0.5s;
  }
  a:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background:black;
      transform: translateY(-50%) scaleX(0);
      transform-origin: left;
      transition: transform 0.5s;
  }
  a.completed:before {
      transform: translateY(-50%) scaleX(1);
      transform-origin: right;
      transition: transform 0.5s;
  }
  a.completed {
      color: gray;
      }
  */
}
.task-interface .task-list li .task-summary > .check label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.task-interface .task-list li .task-summary > .check input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
}
.task-interface .task-list li .task-summary > .check .alt-checkbox {
  position: absolute;
  top: 2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(44, 44, 44);
  transition: all 200ms ease-out;
}
.task-interface .task-list li .task-summary > .check input[type=checkbox]:checked ~ .alt-checkbox {
  top: 1px;
  height: 15px;
  width: 25px;
  border-top: none;
  border-right: none;
  border-color: green;
  transform: rotate(-45deg);
}
.task-interface .task-list li .task-details {
  font-size: 16px;
  margin-top: 5px;
  border-top: 1px solid black;
  padding: 5px 5px 5px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "desc taskDesc taskDesc" "due dueDate dueDate" "priority priorityValue editButton";
  gap: 10px;
}
.task-interface .task-list li .task-details .task-description-title {
  grid-area: desc;
  font-weight: 600;
}
.task-interface .task-list li .task-details .task-description {
  grid-area: taskDesc;
}
.task-interface .task-list li .task-details .task-due-title {
  grid-area: due;
  font-weight: 600;
}
.task-interface .task-list li .task-details .task-due {
  grid-area: dueDate;
}
.task-interface .task-list li .task-details .task-priority-title {
  grid-area: priority;
  font-weight: 600;
}
.task-interface .task-list li .task-details .task-priority {
  grid-area: priorityValue;
}
.task-interface .task-list li .task-details .edit-task-button {
  grid-area: editButton;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(121, 120, 120);
  font-size: 14px;
  padding: 4px;
  background-color: rgb(44, 121, 44);
  color: white;
}

@keyframes expandTask {
  0% {
    height: 38px;
    opacity: 0.7;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
.content-cover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.content-cover.cover {
  display: block;
  background-color: black;
  opacity: 0.4;
}

.form-container {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vw, 700px);
  min-height: 90vh;
  padding: 2rem;
  background-color: rgb(248, 247, 245);
  z-index: 102;
}
.form-container form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  font-size: 18px;
}
.form-container form div {
  margin-bottom: 10px;
}
.form-container form .header {
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px auto 30px;
}
.form-container form .button-group {
  display: flex;
  justify-content: space-between;
}
.form-container form .button-group a {
  display: block;
  text-decoration: none;
}
.form-container form .button-group .button {
  padding: 5px;
  width: 100px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(66, 66, 66);
  color: white;
}
.form-container form .button-group .cancel {
  background-color: rgb(94, 3, 3);
}
.form-container form .button-group .submit {
  background-color: rgb(1, 66, 1);
}

.form-container.open {
  display: block;
}

@media (hover: hover) {
  .add-project-button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 5px rgb(63, 63, 63);
  }
}

/*# sourceMappingURL=styles.css.map */
