$xRed: rgb(161, 56, 56);
$myRed: #f28b82;
$myOrange: #fbbc04;
$myYellow: #fff475;
$myGreen: #ccff90;
$myDarkGreen: rgb(30, 61, 5);
$myTeal: #a7ffeb;
$myBlue: #aecbfa;
$myPurple: #d7aefb;
$myPink: #fdcfe8;
$myGray: rgb(148, 148, 148);
$myCharcoal: rgb(40, 40, 40);
$myLightGray: rgb(200, 200, 200);
$myDarkBlue: rgb(5, 30, 35);


