$myRed: #f28b82;
$myOrange: #fbbc04;
$myYellow: #fff475;
$myGreen: #ccff90;
$myTeal: #a7ffeb;
$myBlue: #aecbfa;
$myPurple: #d7aefb;
$myPink: #fdcfe8;
$myCharcoal: rgb(40, 40, 40);
$myLightGray: rgb(200, 200, 200);


